// Place all the styles related to the Problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

var {
	word-spacing: 8px;
	font-style: normal;
}

#problems_table {
	text-align: center;
	th { text-align: center; }
	tr td:nth-child(1) { width: 40%; }
	tr td:nth-child(2) { width: 20%; }
	tr td:nth-child(3) { width: 20%; }
	tr td:nth-child(4) { width: 20%; }
}
