// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Vuetable width */

#submissions_table {
	text-align: center;
	th { text-align: center; }
	tr td:nth-child(1) { width: 14%; }
	tr td:nth-child(2) { width: 22%; }
	tr td:nth-child(3) { width: 22%; }
	tr td:nth-child(4) { width: 6%; }
	tr td:nth-child(5) { width: 6%; }
	tr td:nth-child(6) { width: 6%; }
	tr td:nth-child(7) { width: 8%; }
	tr td:nth-child(8) { width: 8%; }
	tr td:nth-child(9) { width: 8%; }
}
